*{
    padding: 0;
    margin: 0;
    font-family: 'Chilanka', cursive;
}

.hea{
    color: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px 15px #000000;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.parallax2 {
    /* The image used */
    float: centre;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("img-trek/spp.jpeg");

    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
.container2{
    padding-top: 150px;
}
.box8{
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    width: 600;
    padding: 70px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 2s;
}
.box8:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    color:#006E6D ;
    background:  #F1EA7F;
}
.box8 .imgbz{
    width: 150px;
    flex: 0 0 150px;
    
}

.box8 .midd{
    padding-left:20%; 
}
.box8 .midd h1{
    margin: 0;
    padding-left: 0;
    color: blueviolet;
    font-size: 22px;
}
.box8 .midd p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}
.box9{
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    width: 600;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 2s;
}


.box9:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    color: #343148 ;
    background: #8D9440;
}
.box9 .imgby{
    width: 150px;
    flex: 0 0 150px;
}

.box9 .oo{
    padding-left:20%; 
}
.box9 .oo h1{
    margin: 0;
    padding-left: 0;
    color: blueviolet;
    font-size: 22px;
}
.box9 .oo p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}
.box10{
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    width: 600;
    padding: 55px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 2s;
}


.box10:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    color:#616247; 
    background-color: #8D9440;
}
.box10 .imgbw{
    width: 150px;
    flex: 0 0 150px;
}

.box10 .pp{
    padding-left:20%; 
}
.box10 .pp h1{
    margin: 0;
    padding-left: 0;
    color: blueviolet;
    font-size: 22px;
}
.box10 .pp p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}
.box11{
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    width: 600;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 2s;
}


.box11:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    color: #672E3B;
    background-color: #6F9FD8; 
}
.box11 .imgba{
    width: 150px;
    flex: 0 0 150px;
}

.box11 .qq{
    padding-left:20%; 
}
.box11 .qq h1{
    margin: 0;
    padding-left: 0;
    color: blueviolet;
    font-size: 22px;
}
.box11 .qq p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}
.footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#ddd;
        color: blue;
        text-align: center;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
  

.a{
    height: 500px;
}
@media only screen and (max-width:998px){
    h1{font-size: 200%;}
    p{font-size: 200%;}
}
@media only screen and (max-width:768px){
    h1{font-size: 200%;}
    p{font-size: 200%;}
}
@media only screen and (max-width:480px){
    h1{font-size:200%; }
    p{font-size: 200%;}
}
#footer-area{
    background-color: rgba(0, 0, 0, 0.1);
        
        
    }